@import './Settings.scss';
@import url('https://fonts.googleapis.com/css?family=Turret+Road:700&display=swap');

.navbar {
  &__wrapper {
    width: 240px;
    position: fixed;
    margin-right: 15px;
    padding-left: 15px;
    float: left;
    padding: 5px;
    z-index: 1;
  }

  &__list {
    padding: 0px 10px 0px 10px;

    &-item {
      display: block;
      padding: 5px 0px 5px 0px;
      background-color: #fafafa;
      padding: 5px 10px 5px 10px;
      margin: 7px 0px 7px 0px;
      border-radius: 7px;
      text-align: center;
      font-family: 'Turret Road', cursive;

      a {
        color: black;
        display: block;
        text-decoration: none;
      }
    }
  }

  &-logo__wrapper {
    padding: 10px;
    margin: 0px 10px 0px 10px;
    background-color: rgb(22, 22, 22);
    // background-color: aqua;
    border-radius: 15px;
  }

  &__name {
    font-family: 'Turret Road', cursive;
    color: white;
    font-size: 2.6rem;
  }
}

.socia-sharing {
  &__wrapper {
    width: 240px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
