.navbar {
  &__wrapper {
    width: 190px;
    height: 100%;
    position: fixed;
    background-color: aqua;
    left: 0;
    top: 0;
    margin-right: 15px;
    padding-left: 15px;
  }

  &__list {
    padding: 0px 10px 0px 10px;

    &-item {
      display: block;
      padding: 5px 0px 5px 0px;
    }
  }
}
